---
pagination:
  data: collections.blogpostsByCategories
  size: 1
  alias: currentCategory
permalink: /blog/category/{{ currentCategory.slug }}{% if currentCategory.currentPage > 1 %}/{{ currentCategory.currentPage }}{% endif %}/index.html
---
{% extends "layouts/base.njk" %}

{% block content %}
  <h1>{{ currentCategory.title }}</h1>

  {% for post in currentCategory.items %}
    {% if loop.first %}<ul>{% endif %}
      <li>
        <article>
          <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
        </article>
      </li>
    {% if loop.last %}</ul>{% endif %}
  {% endfor %}

  {% if currentCategory.totalPages > 1 %}
    {% if currentCategory.currentPage > 1 %}
      <p><a href="/blog/category/{{ currentCategory.slug }}{% if currentCategory.currentPage > 2 %}/{{ currentCategory.currentPage - 1 }}{% endif %}/">Previous</a></p>
    {% endif %}
    {% if currentCategory.currentPage < currentCategory.totalPages %}
      <p><a href="/blog/category/{{ currentCategory.slug }}/{{ currentCategory.currentPage + 1 }}/">Next</a></p>
    {% endif %}
  {% endif %}

{% endblock %}