---
pagination:
  data: collections.blogpostsByCategories
  size: 1
  alias: currentCategory
permalink: /blog/category/{{ currentCategory.slug }}/index.html
---
{% extends "layouts/base.njk" %}

{% block content %}
  <h1>{{ currentCategory.title }}</h1>

  {% for post in currentCategory.items %}
    {% if loop.first %}<ul>{% endif %}
      <li>
        <article>
          <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
        </article>
      </li>
    {% if loop.last %}</ul>{% endif %}
  {% endfor %}

  {% if currentCategory.totalPages > 1 %}
    {% if currentCategory.hrefs.previous %}
      <p><a href="/blog/category/{{ currentCategory.hrefs.previous }}">Previous</a></p>
    {% endif %}
    {% if currentCategory.hrefs.next %}
      <p><a href="/blog/category/{{ currentCategory.hrefs.next }}">Next</a></p>
    {% endif %}
  {% endif %}

{% endblock %}