---
permalink: index.html
---

{% extends "layouts/base.njk" %}

{% block content %}
  <h1>Proof of concept</h1>
  <p>Creating <a href="https://www.webstoemp.com/blog/basic-custom-taxonomies-with-eleventy/">custom taxonomies with Eleventy</a></p>
  <p><a href="/blog/">&rarr; Sample implementation</a></p>
{% endblock %}