---
pagination:
  data: collections.blogposts
  size: 2
  alias: posts
permalink: /blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}/index.html
---
{% extends "layouts/base.njk" %}

{% block content %}
  <h1>Blogposts</h1>

  {% for post in posts %}
    {% if loop.first %}<ul>{% endif %}
      <li>
        <article>
          <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
        </article>
      </li>
    {% if loop.last %}</ul>{% endif %}
  {% endfor %}

  <p>page {{ pagination.pageNumber + 1 }}/{{ pagination.hrefs|length }}</p>
  {% if pagination.hrefs|length > 1 %}
    <nav>
      <ul>
        {% if pagination.href.previous %}
          <li><a href="{{ pagination.href.first }}">First</a></li>
          <li><a href="{{ pagination.href.previous }}/">Previous</a></li>
        {% endif %}
        {% if pagination.href.next %}
          <li><a href="{{ pagination.href.next }}">Next</a></li>
          <li><a href="{{ pagination.href.last }}">Last</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}

  {% if collections.blogpostsCategories|length %}
    <h2>Categories</h2>
    {% for category in collections.blogpostsCategories %}
      {% if loop.first %}<ul>{% endif %}
      {% if loop.first %}
        {% set totalBlogposts = collections.blogposts|length %}
        <li>
          <a href="/blog/">All categories</a>
        </li>
      {% endif %}
      <li>
        <a href="/blog/category/{{ category.slug }}">{{ category.title }} ({{ category.totalItems }})</a>
      </li>
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}
  {% endif %}

  {% if collections.blogpostsThemes|length %}
    <h2>Themes</h2>
    {% for theme in collections.blogpostsThemes %}
      {% if loop.first %}<ul>{% endif %}
      {% if loop.first %}
        {% set totalBlogposts = collections.blogposts|length %}
        <li>
          <a href="/blog/">All themes</a>
        </li>
      {% endif %}
      <li>
        <a href="/blog/theme/{{ theme.slug }}">{{ theme.title }} ({{ theme.totalItems }})</a>
      </li>
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}
  {% endif %}

{% endblock %}