---
permalink: index.html
---

{% extends "layouts/base.njk" %}

{% block content %}
  <h1>Hello world</h1>

  {% for category in collections.blogpostsCategories %}
    {% if loop.first %}<ul>{% endif %}
    <li>
      <a href="/blog/category/{{ category.slug }}">{{ category.title }} ({{ category.totalItems }})</a>
    </li>
    {% if loop.last %}</ul>{% endif %}
  {% endfor %}
{% endblock %}